.dhuolto-background {
    /* background-color: rgb(52, 107, 155); */
    background-image: url(./Pictures/dental.jpg);
    background-size:cover;
    min-height:400px;
    /* width: 100%;
    max-height: 300px; */
    margin-bottom: 0px;
}
body {
background-color:aliceblue;

}

.rounded-circle {
    object-fit: cover;
}

.kaapistot img {
width: 100%;

}

